@using GoFood.ViewModels.Common
@model PagedResult<GoFood.ViewModels.System.Users.UserViewModels>

@{
    ViewData["Title"] = "Danh sách người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-end mb-4">
    <a asp-action="Create" asp-controller="User" class="btn btn-primary">
        <i class="bx bx-plus me-1"></i> Create New User
    </a>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">            
            <div class="col-md-6 col-xs-12">
                <form asp-action="Index" method="get">
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                        </div>
                        <div class="col-md-2 mb-2 d-flex align-items-end">
                            <div class="btn-group w-100">
                                <button type="submit" class="btn btn-primary">
                                    <i class="bx bx-search"></i> Tìm
                                </button>
                                <button type="button" onclick="window.location.href='/User/Index'" class="btn btn-dark">
                                    <i class="bx bx-reset"></i> Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive text-nowrap">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="alert alert-danger">
                @ViewBag.ErrorMessage
            </div>
        }
        @if (!string.IsNullOrEmpty(ViewBag.SuccessMsg))
        {
            <div class="alert alert-success" id="msgAlert">
                @ViewBag.SuccessMsg
            </div>
        }
        <table class="table">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Họ</th>
                    <th>Số Điện Thoại</th>
                    <th>Tài Khoản</th>
                    <th>Email</th>
                    <th>Trạng Thái</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model.Items){
                <tr>
                    <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                            <span class="badge bg-label-@(item.IsActive ? "success" : "danger") me-1">
                                @(item.IsActive ? "Active" : "Inactive")
                            </span>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("Edit","User", new {id = item.Id})">
                                    <i class="bx bx-edit-alt me-1"></i> Edit
                                </a>
                                <a class="dropdown-item" href="@Url.Action("RoleAssign","User", new {id = item.Id})">
                                    <i class="bx bx-key me-1"></i> Gán quyền
                                </a>
                                @if (item.IsActive)
                                {
                                    @if (item.Id.ToString() != ViewBag.CurrentUserId)
                                    {
                                        <form id="deactivate-@item.Id" asp-action="Delete" asp-controller="User" method="post" style="display: inline;">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <button type="button" class="dropdown-item text-danger" 
                                                    onclick="confirmDeactivate('deactivate-@item.Id')">
                                                <i class="bx bx-trash me-1"></i> Vô hiệu hóa
                                            </button>
                                        </form>
                                    }
                                }
                                else
                                {
                                    <form id="activate-@item.Id" asp-action="Active" asp-controller="User" method="post" style="display: inline;">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button type="button" class="dropdown-item text-success"
                                                onclick="confirmActivate('activate-@item.Id')">
                                            <i class="bx bx-check-circle me-1"></i> Kích hoạt
                                        </button>
                                    </form>
                                }
                            </div>
                        </div>
                    </td>
                </tr>   
                }
            </tbody>
        </table>
    </div>
    @await Component.InvokeAsync("Pager", Model)
</div>
@section Scripts {
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}